@import '../../../styles/settings.scss';
@import "../../../styles/mixins.scss";

.root {
  .subtitle {
    text-align: center;
    margin: $base-size*3;
    letter-spacing: 2px;

    &__first {
      margin-bottom: $base-size*2;
    }
  }

  .cards_group {
    @include flex-cards;

    &__item {
      @include flex-cards-item;
      flex-basis: 45%;


      .flex{
        height: 100%;
      }

      .link {
        text-decoration: none;
        color: $color-text;
      }

      .imageContainer {

        .image {
          max-height: 40vh;
        }
      }

      .text {
        text-align: center;
        font-family: $font-text;
        letter-spacing: 2px;
      }

    }
  }
}
