@import '../../../styles/settings.scss';
@import "../../../styles/mixins.scss";


.root {
  .container {
    @include container;

    .title {
      margin: $main-spacing 0 $main-spacing*2 0;
    }

    .cart {
      @include cart-box;
    }

    .total_price {
      @include total_price;
    }

    @media(max-width: 500px) {
      .total_price {
        justify-content: center;

        div:nth-child(1) {
          margin-left: $main-spacing*2;
        }
      }
    }

    @media(max-width: 750px) {
      .cart {
        flex-wrap: wrap;
      }
    }
  }
}
